@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";


@theme {
  --color-navbar-bg: #0F131D80;
  --color-ivory-white: #FDFDFD;
  --color-charcoal-black: #1C1C1E;
  --color-bcoin-primary: #FFBE38;
  --color-light-gray: #E0E0E0;
}

body {
  font-family: "Poppins", sans-serif;
}